@mixin center-in-bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
  0 - 600px = Phone
  600px - 900px = Tablet Portrait
  900px - 1200px = Tablet Landscape
  [1200px - 1800px] is where our normal styles apply
  1800px+ = Big desktops

  $breakpoint argument choices:
  - phone: < 600px
  - tablet portrait: < 900px
  - tablet landscape: < 1200px
  - laptop 13 inches: < 1280px
  - big-desktop: 1800+ px

ORDER: Base + Typography > General Layout + grid > Page Layout > Components

  1em = 16px
*/
@mixin respond($breakpoint) { // Remember we are using em
  @if $breakpoint == break-500 { @media only screen and (max-width: 31.25em) { @content } } // 500px
  @if $breakpoint == phone { @media only screen and (max-width: 37.5em) { @content } } // 600px
  @if $breakpoint == tab-port { @media only screen and (max-width: 56.25em) { @content } } // 900px
  @if $breakpoint == break-1100 { @media only screen and (max-width: 68.75em) { @content } } // 1100px
  @if $breakpoint == tab-land { @media only screen and (max-width: 75em) { @content } } // 1200px
  @if $breakpoint == laptop-13 { @media only screen and (max-width: 80em) { @content } } // 1280px
  @if $breakpoint == big-desktop { @media only screen and  (min-width: 112.5em) { @content } } // 1800px
}
