@import 'responsive-width-mixins';

*,
*::before,
*::after {
  // Good practice to add box-sizing: border-box in body and inherit here
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// Root font size for REM units (responsive design)
// Browser default font size is 16px, so we use 62.5% of it that is equal to 10px. So, 1 rem = 10px for easier calculations

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  @include width(tab-land) { // width < 1200px
    font-size: 56.25%; // 1 rem = 9px, 9px/16px = 56.25%
  }
  @include width(tab-port) { // width < 900px
    font-size: 50%; // 1 rem = 8px, 8px/16px = 50%
  }
  @include width(big-desktop) { // width > 1800px
    font-size: 75%; // 1 rem = 12px, 12px/16px = 75%
  }
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  @include width(tab-port) { // width < 900px
    padding: 0;
  }
}

input,
label,
button,
a,
p,
i {
  font-family: var(--font-family);
  margin: 0;
  outline: none;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }
}

a,
a > * {
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

strong {
  padding: 0;
}

input[type='radio'] + label {
  vertical-align: text-bottom;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
