@import '../abstracts/responsive-width-mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  // Good practice to add box-sizing: border-box in body and inherit here
  box-sizing: inherit;
}

// Root font size for REM units (responsive design)
// Browser default font size is 16px, so we use 62.5% of it that is equal to 10px. So, 1 rem = 10px for easier calculations

html {
  font-size: 62.5%;
  @include width(tab-land) { // width < 1200px
    font-size: 56.25%; // 1 rem = 9px, 9px/16px = 56.25%
  }
  @include width(tab-port) { // width < 900px
    font-size: 50%; // 1 rem = 8px, 8px/16px = 50%
  }
  @include width(big-desktop) { // width > 1800px
    font-size: 75%; // 1 rem = 12px, 12px/16px = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include width(tab-port) { // width < 900px
    padding: 0;
  }
}

input, label, button, a, p, i {
  font-family: var(--font-family);
  outline: none;
  margin: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

a, a > * {
  outline:none;
  cursor:pointer;
  text-decoration:none;
  &:focus, &:hover {
    outline:none;
    color:#fff;
    text-decoration:none;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

strong {
  padding: 0;
}

input[type='radio'] + label {
  vertical-align: text-bottom;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
