@import '../abstracts/responsive-width-mixins';

body {
  color: var(--text-font-color);
  font-family: var(--font-family);
  font-size: var(--default-font-size);
  font-weight: 400;
  // Be careful with 3rd party software as this might modify the way their components behave
  // We can add line-height also per header (depending on the font).
  line-height: 1.7;
  // Set a color bg
  //background: linear-gradient(
  //    to right bottom,
  //    var(--color-primary-light),
  //    var(--color-primary-dark)
  //) no-repeat;
  //background-size: cover;

  // Good for responsive design
  min-height: 100vh;
}

// We can add line-height also per header (depending on the font).

h1,
.h1 {
  color: var(--headings-font-color);
  font-size: 3.5rem;
}

h2,
.h2 {
  color: var(--headings-font-color);
  font-size: 2.5rem;
}

h3,
.h3 {
  color: var(--headings-font-color);
  font-size: 1.8rem;
}

p,
label,
.p {
  font-size: 1.3rem;
  @include width(phone) {
    margin: 0;
  }

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}
