:root {
  // Branding colors
  --color-primary: #db536a;
  --color-primary-light: #e47d8e;
  --color-primary-dark: #d02b47;

  --color-secondary: #db536a;

  --color-accent: #dc6900;
  --color-accent-light: #ff8210;
  --color-accent-dark: #a95100;

  // Normal colors
  --color-white: #fff;
  --color-black: #000;

  // Grey Scale
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  // Notifications
  --error: #e0301e;
  --warning: #ffb600;
  --info: #0089eb;
  --complete: #00B400;
}
