
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '../../../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: var(--font-family),
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(14px, 18px, 400)
);

@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-skeleton-primary: mat-palette($mat-indigo);
$angular-skeleton-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-skeleton-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-skeleton-theme: mat-light-theme($angular-skeleton-primary, $angular-skeleton-accent, $angular-skeleton-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-skeleton-theme);
